{% extends 'quantity/quantity_layout.html' %}
{% load static %}

{% block title %} Welcome! {% endblock %}

{% block content %}

<div class="main">
    <div class="actions">
        <p class="actions_text">How many?</p>
        <br>
        <label for="quantity-input">Input here:</label>
        <input type="number" id="quantity-input">
        <button id="submit-button">Submit</button>
    </div>
</div>

<footer class="footer">
    Powered by Sepira
</footer>

<script>
    document.getElementById('submit-button').addEventListener('click', function() {
        var quantity = document.getElementById('quantity-input').value;
        if (quantity) {
            window.location.href = ' ?quantity=' + quantity;
        }
    });
</script>

{% endblock %}